<div class="about-container">
  <div class="about-header">
    <h2>About Us</h2>
  </div>
  <div class="about-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo
      dolorem odio libero enim eum natus quo corporis, ipsa voluptas aliquam ea
      iure facere! Non soluta quasi necessitatibus maxime ratione suscipit, illo
      magnam quas iusto unde exercitationem quam error maiores iste aliquam
      nesciunt. Corrupti quia ab temporibus incidunt facilis praesentium.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo
      dolorem odio libero enim eum natus quo corporis, ipsa voluptas aliquam ea
      iure facere! Non soluta quasi necessitatibus maxime ratione suscipit, illo
      magnam quas iusto unde exercitationem quam error maiores iste aliquam
      nesciunt. Corrupti quia ab temporibus incidunt facilis praesentium.
    </p>
    Adress: Palacio de Buenavista, C. San Agustín, 8, Spain <br />
    Email:<a href="maito:picasso@gmail.com"> picasso@gmail.com</a><br />
    Phone: <a href="tel:+356/154-345"> +356/154-345</a><br />
  </div>
</div>
