<div class="container">
  <div class="container_text">
    <h2>Welcome to <br /><span>Dining menu</span></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam saepe
      qui nihil repudiandae amet dicta?
    </p>
    <div class="container_buttons">
      <button class="btn-menu" routerLink="/menu">Menu</button>
      <button class="btn-about" routerLink="/about">About</button>
    </div>
  </div>
  <div class="container_image">
    <img src="../../../assets/images/food.png" alt="Food image" />
  </div>
</div>
