form {
  display: grid;
  padding: 10px 10px;
}
label {
  display: flex;
}
input,
textarea {
  padding: 5px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #deb88799;
  outline: none;
}
img {
  width: 100%;
  height: 300px;
}
