<div class="ingr-header">
  <h2>All Categories</h2>
</div>
<div class="container">
  <div class="wrapper">
    <table>
      <tr>
        <th>No.</th>
        <th>Category Id:</th>
        <th>Category name:</th>
        <th>Category image:</th>
      </tr>
      <tr
        *ngFor="let category of allCategories"
        (click)="seeDetails(+category.idCategory)"
      >
        <td>{{ allCategories.indexOf(category) + 1 }}</td>
        <td>{{ category.idCategory }}</td>

        <td>{{ category.strCategory }}</td>
        <td>
          <img
            class="img-thumbnail"
            src="{{ category.strCategoryThumb }}"
            alt="meal-thumbnail"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
